<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Pdf Merger</title>
</head>

<body>
    <header>
        <div id="hd1">
            <img src="/photos/pdflogo.png" alt="">
            <div id="hd1lname">PDF Merger</div>
        </div>
        <div id="hd2">
            <nav>
                <a href="">Home</a>
                <a href="">About us</a>
                <a href="">Contact us</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <div id="main1">
                <h1>Welcome to Pdf Merger community</h1>
                <h3>(A Premium Product by Navneet Kumar)</h3>
            </div>
            <div id="main2">
                <form action="/merge" method="post" enctype="multipart/form-data">
                    <label for="pdfs">Drop your PDFs : </label>
                    <input type="file" name="pdfs" id="pdfs" multiple accept=".pdf">
                    <input type="submit" value="submit">
                </form>
            </div>
        </div>
    </main>
    <footer>
        <div id="fd1">
            <h2>Navigetion</h2>
            <a href="">Home</a>
            <a href="">About us</a>
            <a href="">Contact us</a>
        </div>
        <div id="fd2">
            <h2>Get in touch</h2>
            <h3>&#61985; Khankuava near anand, Bhalej road, Anand Gujarat 388205</h3>
            <h3>&#128231; tnavneet8628@gmail.com</h3>
            <h3>&#9990; +91 6335366773</h3>
        </div>
    </footer>
</body>

</html>